@media screen and (max-width: 760px) {
  .hero {
    flex-direction: column;

    &__blur {
      width: 14rem;
    }

    &__left {
      .the-best-ad {
        margin-top: 0 !important;
        font-size: small;
        align-self: center;
        transform: translate(0.8);
      }

      &--text {
        font-size: xx-large !important;
        align-items: center;
        justify-content: center;

        & > div:nth-of-type(3) {
          font-size: small;
          font-weight: 200;
          letter-spacing: 1px;
          text-align: center;
        }
      }

      &--buttons {
        justify-content: center;
      }

      &--figures {
        & > div {
          & > span:nth-of-type(1) {
            font-size: large !important;
          }
          & > span:nth-of-type(2) {
            font-size: small !important;
          }
        }
      }
    }

    &__right {
      position: relative;
      background: none !important;

      &--heart-rate {
        left: 1rem !important;
        top: 2rem !important;
      }

      &--hero-image {
        position: relative !important;
        width: 15rem !important;
        left: 7rem;
        top: 4rem;
        align-self: center !important;
      }
      &--hero-image-back {
        width: 15rem !important;
        left: 2rem !important;
        top: 0 !important;
      }
      &--calories {
        position: relative !important;
        top: 5rem !important;
        left: 2rem !important;
        background-color: none;

        & > img {
          width: 2rem !important;
        }

        & > div > span:nth-child(1) {
          color: white !important;
          font-size: 1rem !important;
        }
      }
    }
  }
}
